onebusaway-csv-entities

  The <<<onebusaway-csv-entities>>> module provides a library for reading and writing Java objects from CSV files

  <<Current Version:>> ${currentVersion}

  Details on all releases can be found in the {{{./release-notes.html}Release Notes}}.

Documentation

  You can access the {{{./apidocs/index.html}latest Javadoc for the library}}.

Using in Maven

  The <<<onebusaway-csv-entities>>> library is available as a Maven module.  Simply add the following dependency:

+---+
<dependencies>
    <dependency>
        <groupId>org.onebusaway</groupId>
        <artifactId>onebusaway-csv-entities</artifactId>
        <version>${currentVersion}</version>
    </dependency>
</dependencies>
+---+
