Release Notes

* ${currentVersion}

  * Add {{{./apidocs/org/onebusaway/csv_entities/exceptions/InvalidValueEntityException.html}InvalidValueEntityException}}
  
  * Add direct entity injection to the {{{./apidocs/org/onebusaway/csv_entities/CsvEntityReader.html}CsvEntityReader}}, useful for unit tests and potentially other uses
  
  * Update the license header to be more flexible

  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/${currentVersion}/}}

* 1.0.1

  * Add {{{./apidocs/org/onebusaway/csv_entities/DelimiterTokenizerStrategy.html}DelimiterTokenizerStrategy}} for specifying an arbitrary delimiter
  
  * Various tweaks for reading malformed files (empty lines, weird start characters)

  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.1/}}

* 1.0.0

  * Initial creation from original <<<onebusaway-gtfs>>> source
  
  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.0/}}