Release Notes

* ${currentVersion}

  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/${currentVersion}/}}

* 1.0.3

  * Add {{{./apidocs/org/onebusaway/csv_entities/schema/DecimalFieldMappingFactory.html}DecimalFieldMappingFactory}}
    to allow us to control how decimal values are written to CSV using a custom number formatter.
    
  * Add support to make it easier to read back values from a mysqldump session.  Specifically, see:
  
    * {{{./apidocs/org/onebusaway/csv_entities/DelimiterTokenizerStrategy.html#setReplaceLiteralNullValues(boolean)}DelimiterTokenizerStrategy#setReplaceLiteralNullValues()}}
    
    * {{{./apidocs/org/onebusaway/csv_entities/schema/EnumFieldMappingFactory.html}EnumFieldMappingFactory}}
    
    * {{{./apidocs/org/onebusaway/csv_entities/schema/annotations/CsvFieldNameConvention.html}CsvFieldNameConvention}}
    
  * Support for writing GTFS to a ZIP file instead of just an output directory.
  
  * Migration to GitHub.
  
  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.3/}}

* 1.0.2

  * Add {{{./apidocs/org/onebusaway/csv_entities/exceptions/InvalidValueEntityException.html}InvalidValueEntityException}}
  
  * Add direct entity injection to the {{{./apidocs/org/onebusaway/csv_entities/CsvEntityReader.html}CsvEntityReader}}, useful for unit tests and potentially other uses
  
  * Update the license header to be more flexible

  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.2/}}

* 1.0.1

  * Add {{{./apidocs/org/onebusaway/csv_entities/DelimiterTokenizerStrategy.html}DelimiterTokenizerStrategy}} for specifying an arbitrary delimiter
  
  * Various tweaks for reading malformed files (empty lines, weird start characters)

  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.1/}}

* 1.0.0

  * Initial creation from original <<<onebusaway-gtfs>>> source
  
  * Full Documentation: {{${site_base_url}/onebusaway-csv-entities/1.0.0/}}